<%- include('partials/_header.ejs') %> 

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="titulo" value="<%= data.titulo %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="consola" value="<%= data.consola %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="date" name="fecha" value="<%= data.fecha %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Actualizar juego
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer.ejs') %> 