<%- include('partials/_header.ejs') %> 

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <a href="/" class="btn btn-success">Index</a>
                    <a href="/juegos" class="btn btn-info">Juegos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>
    Listado de Personajes
</h1>


        
<div class="container">
    
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-width-1">no.</th>
                        <th>nombre</th>
                        <th>sexo</th>
                        <th>juego id</th>
                        <th class="col-width-5">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i=0; i < data.length; i++) { %>
                            <tr>
                                <td class="col-width-1"><%= (i + 1) %></td>
                                <td class="col-width-2"><%= data[i].nombre %></td>
                                <td class="col-width-3"><%= data[i].sexo %></td>
                                <td class="col-width-4"><%= data[i].juegoId %></td>
                                <td class="col-width-5">
                                    <a href="/personajes/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                                    <a href="/personajes/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
      
</div>
    <h2>Agregar nuevo personaje</h2>
    <div class="container" >
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/personajes/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="nombre" class="form-control">
                        </div>
                        <div class="form-group" aria-placeholder="Agregar personaje">
                            <input type="text" name="sexo" placeholder="sexo" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" name="juegoId" placeholder="juegoId" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary" style="position: absolute">
                            Guardar personaje
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>




<%- include('partials/_footer.ejs') %> 
